.productCont {
  .head {
    .row {
      p {
        color: $white;

        @include responsive(tablet, '') {
          @include flex('', center, center, '', '');
        }
      }
    }
  }
}

.row {
  .contents {
    padding: 5rem 0;

    .productList {
      @include flex(column, space-between, center, '', '');

      .productCards {
        @include flex(row, space-evenly, center, '', wrap);
        margin: 8rem 0;
        width: 100%;

        .productCard {
          margin: 1rem;
        }

        @include responsive(tablet, '') {
          .productCard {
            @include flex(row-reverse, '', center, '', '');
            width: 40rem;
            height: 30rem;
          }
        }

        @include responsive(phone, '') {
          .productCard {
            @include flex('', space-between, center, '', '');
            margin: 3rem 0;
            padding: 1rem;
            margin: 2rem auto;
            height: 30rem;
            width: 40rem;
            height: 30rem;

            &:before {
              border-radius: 2rem;
            }
          }
        }

        @include responsive(phone, '') {
          .productCard {
            @include flex('', space-between, center, '', '');
            margin: 3rem 0;
            padding: 1rem;
            margin: 2rem auto;
            height: 30rem;
            width: 37rem;

            .description {
              padding: 0 0 0 1rem;
            }

            &:before {
              left: 7rem;
              border-radius: 2rem;
            }
          }
        }

        @include responsive(phone, '400px') {
          position: relative;

          .productCard {
            @include flex('', space-between, center, '', '');
            margin: 3rem 0;
            padding: 1rem;
            margin: 2rem auto;
            height: 30rem;
            width: 100%;
            position: relative;

            .description {
              padding: 0 0 0 1rem;
            }

            &:before {
              width: 80%;
              left: 19%;
              border-radius: 2rem;
            }
          }
        }
      }
    }
  }
}
