.productCont {
    // @include flex(column, center, flex-end, '', '');

    .head {
        background-image: url('./../../images/pages-head-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: $red;
        text-align: left;
        width: 100%;
        color: $white;
        font-size: 1.9rem;
        font-weight: bold;
        padding: 8rem;
    }

    .row {
        .contents {
            padding: 5rem 0;

            .productList {
                @include flex(column, space-between, center, '', '');

                .productCards {
                    @include flex(row, space-evenly, center, '', '');
                    margin: 8rem 0;
                    width: 100%;
                }
            }
        }
    }
}