.container {
    >.row {
        @include flex('', center, center, '', '');

        .form {
            @include flex('', center, center, '', '');
            margin: 5rem 0;
            width: 100%;

            &-panel {
                @include flex(row, '', center, '', '');
                width: 80%;
                background-color: $white;
                border-radius: $border_radius;
                box-shadow: .2rem .4rem 3rem $box-shadow;
                overflow: hidden;

                @include responsive(phone, '') {
                    @include flex(column, '', center, '', '');
                    width: 95%;
                }

                .titles {
                    @include flex(column, center, center, '', '');
                    width: 6%;
                    background-color: $white;
                    align-self: stretch;
                    color: $white;
                    transition: active .3s;

                    @include responsive(phone, '') {
                        @include flex(row, '', center, '', '');
                        width: 100%;
                        height: 5rem;
                    }


                    .title {
                        @include flex('', center, center, '', '');
                        width: 100%;
                        height: 100%;
                        transition: all .3s;
                        cursor: pointer;
                        box-shadow: inset 2px 4px 2rem $title-shadow;

                        @include responsive(phone, '') {
                            @include flex(row, '', center, '', '');
                            width: 100%;
                        }

                        >p {
                            color: $red;
                            font-size: 1.5rem;
                            transform: rotate(-90deg);
                            white-space: nowrap;
                        }

                        @include responsive(phone, '') {
                            p {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }

                .active {
                    background-color: $red;
                    color: $white;
                    box-shadow: inset 0px 1px 4px #333 !important;

                    >p {
                        color: $white !important;
                    }
                }

                &__content {
                    width: 94%;
                    @include flex(column, center, flex-end, '', '');

                    @include responsive(phone, '') {
                        @include flex('', center, center, '', '');
                        width: 100%;
                    }

                    &--header {
                        color: $red;
                        font-size: 2rem;
                        border-bottom: 1px solid $border-color;
                        padding: 2rem 0;

                        @include responsive(tablet, '') {
                            width: 100%;
                            border-bottom: none;
                        }
                    }

                    &--details {
                        padding: 2rem 0;
                        @include flex(row, space-between, center, '', wrap);
                        border-bottom: 1px solid $border-color;

                        @include responsive(tablet, '') {
                            width: 100%;
                            border-bottom: none;
                        }

                        .form-group {
                            position: relative;
                            width: 48%;
                            padding: 2rem 0;

                            @include responsive(phone, '') {
                                @include flex(column, '', center, '', '');
                                width: 100%;
                            }
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid $border-color;
                            font-size: 1.7rem;

                            &.wrong {
                                border-bottom: 1px solid $red;

                                &::placeholder {
                                    color: $red;
                                }

                                &:not(:placeholder-shown)+label {
                                    transform: translate(0%, -50%);
                                    opacity: 1;
                                    color: $red;
                                }
                            }

                            &:not(:placeholder-shown)+label {
                                transform: translate(0%, -50%);
                                opacity: 1;
                                transition: all .3s;
                            }

                            &:focus {
                                outline: none;
                            }
                        }

                        label {
                            position: absolute;
                            left: 0;
                            top: 0;
                            -webkit-transform: translate(50%, -50%);
                            transform: translate(50%, -50%);
                            opacity: 0;
                            transition: color .2s;
                            color: $font_color_gray_light;
                            transition: all .3s;
                        }


                    }

                    #Register {
                        width: 100%;
                        padding: 0 5rem;
                    }

                    #Replacement {
                        width: 100%;
                        padding: 0 5rem;
                        display: none;
                    }

                    button {
                        outline: none;
                        cursor: pointer;
                        // background: none;
                        margin: 2rem 5rem;
                        padding: 1rem;
                        background-color: $red;
                        border-radius: 30px;
                        font-size: 1.7rem;
                        line-height: 3rem;
                        color: $white;
                        box-shadow: 2px 4px 10px $box-shadow;
                        width: 13rem;
                        border: 1px solid $red;
                        background-size: 300%;
                        overflow: hidden;
                        transition: .3s;
                        position: relative;
                        z-index: 0;

                        &:after {
                            content: '';
                            width: 100%;
                            height: 0%;
                            top: 50%;
                            left: 50%;
                            background: $white;
                            opacity: 0;
                            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                            -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                            -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                            transform: translateX(-50%) translateY(-50%) rotate(45deg);
                            position: absolute;
                            z-index: -1;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s;
                        }

                        &:hover {
                            color: $secondary-red;
                            border: 1px solid $secondary-red;

                            &:after {
                                height: 160%;
                                opacity: 1;
                            }
                        }

                        &:active{
                            &:after {
                                height: 270%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}