.container {
  font-size: 1.5rem;
  transition: 0.4s;
  overflow-x: hidden;

  > header,
  section,
  footer {
    transition: 0.4s;
  }
  &.perspective {
    transition: 0.4s;
    perspective: 1300px;
    overflow: hidden;
    height: 100vh;
    > header,
    section,
    footer {
      transition: 0.4s;
      transform: translateZ(-30rem) rotateX(21deg) translateY(20rem);
    }
  }
}

.row {
  min-width: $max_width_value;
  max-width: $max_width_value;
  margin: 0 auto;
  @include responsive(tablet, '') {
    min-width: auto;
    max-width: auto;
    width: 100%;
  }
}

button {
  outline: none;
}
