@keyframes sonar {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

.footer {
  margin-top: 1rem;
  @include flex(row, space-between, '', '', '');
  align-self: stretch;

  .image {
    @include flex('', flex-end, flex-end, '', '');

    img {
      width: 100%;
    }
  }

  .description {
    @include flex('', center, '', '', '');
    align-self: stretch;
    width: 30rem;
    @include flex(column, center, '', '', '');

    .logo {
      width: 12rem;
      @include flex('', '', '', '', '');
      margin: 2rem auto;
    }

    .content {
      width: 18rem;
      @include flex('', '', '', '', '');
      margin: 1rem auto;
      font-size: 1.2rem;
    }
  }

  .footerCont {
    @include flex(column, space-around, center, '', '');

    .itemsCont {
      @include flex(row, center, center, '', '');

      .items {
        width: 39rem;
        @include flex(row, center, center, '', '');

        .title {
          font-size: 1.6rem;
          @include flex(column, center, '', '', '');
          margin-bottom: 1rem;

          &:after {
            content: '';
            border-bottom: 1px solid $red;
            // padding-bottom: 1rem;
          }
        }

        .list {
          @include flex(column, center, right, '', '');
          width: 40%;

          &:not(:last-child) {
            margin-left: 3rem;
          }

          .item {
            transition: .3s;
            &:hover {
              padding-right:.5rem;
            }
            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            &:before {
              content: '';
              border-right: 1px solid $red;
              padding-left: 1rem;
            }
          }
        }
      }
    }

    .copy {
      @include flex('', space-around, flex-end, '', '');
      font-size: 1.2rem;

      div:not(:last-child) {
        margin-left: 2rem;
      }
    }
  }

  .socialnetworks {
    width: 16rem;
    @include flex(column, center, center, '', '');

    .namad {
      @include flex(row, center, center, '', '');

      img {
        width: 50%;
      }
    }

    .socialnetwork {
      @include flex(row, space-around, center, '', '');
      margin-top: 1rem;
      width: 100%;

      a {
        @include flex('', center, center, '', '');

        img {
          width: 3rem;
        }

        &:after {
          content: '';
          padding: 0;
          width: 26px;
          height: 26px;
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
        }

        &:hover {
          transform: scale(0.93); 

          &:after {
            content: '';
            animation: sonar .7s ease-out 75ms;
          }
        }
      }

    }
  }
}