.header {
  border-bottom: 3px solid $red;
  position: fixed;
  width: 100%;
  background-color: $white;
  top:0;
  z-index: 903;

  >.row {
    @include flex('', '', '', '', '');
    height: 7rem;
    position: relative;

    @include responsive(tablet, '') {
      @include flex(column, '', '', '', '');
      height: auto;
      padding: 2rem;
    }

    .logo {
      @include flex('', '', center, 0 0 20%, '');

      .menuIcon {
        display: none;
      }

      @include responsive(tablet, '') {
        @include flex('', space-between, center, '', '');

        .menuIcon {
          @include responsive(tablet, '') {
            display: flex;
          }

          &__checkbox {
            display: none;
          }

          &__button {
            width: 6rem;
            height: 6rem;
            @include flex('', center, center, '', '');
            position: absolute;
            right: 7.5rem;
            top: 2rem;
            z-index: 903;
            cursor: pointer;

            @include responsive(tablet, '') {
              right: 1rem;
              top: 1rem;
            }
          }

          &__icon {
            position: relative;

            &,
            &::after,
            &::before {
              width: 3rem;
              height: 2px;
              background-color: $black;
            }

            &::after,
            &::before {
              content: '';
              position: absolute;
              left: 0;
              transition: 0.3s;
            }

            &::before {
              top: -0.8rem;
            }

            &::after {
              top: 0.8rem;
            }
          }
        }
      }

      >img {
        width: 10rem;
      }
    }

    .nav {
      @include flex('', '', center, 1 0 auto, '');

      @include responsive(tablet, '') {
        display: none;

        &.active {
          display: flex;
        }
      }

      .menu {
        @include flex('', center, center, '', '');
        height: 100%;
        font-size: 1.7rem;

        @include responsive(tablet, '') {
          @include flex(column, '', '', '', '');
          width: 100%;
        }

        .menuItem {
          @include flex('', center, center, '', '');
          height: 100%;
          margin-right: 1rem;
          transition: background-color 0.2s;

          @include responsive(tablet, '') {
            @include flex(column, '', '', '', '');
            width: 100%;
          }

          >.link {
            @include flex('', center, center, '', '');
            height: 100%;
            z-index: 2;
            padding: 1rem 1rem 0;
            transition: 0.2s;
            position: relative;

            @include responsive(tablet, '') {
              padding: 1rem;
            }
          }

          &:hover {
            background-color: $red;
            color: $white;

            .link {
              color: $white;
            }

            .megamenu {
              visibility: visible;
              opacity: 1;
              z-index: 20;

              @include responsive(tablet, '') {
                display: none;
              }
            }
          }
        }
      }
    }

    .search {
      @include flex('', flex-end, center, 0 0 10%, '');

      @include responsive(tablet, '') {
        @include flex('', center, center, 0 0 10%, '');
        padding: 1rem;
        display: none;

        &.active {
          display: flex;
        }
      }

      >img {
        width: 2rem;
        cursor: pointer;
      }
    }
  }
}