.header {
  @include flex(column, '', '', '', '');
  background-color: $white;

  .topRowBanner {
    width: 100%;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.topBannerExist {
    .content {
      height: 8rem !important;
    }
  }

  .content {
    @include flex('', '', center, '', '');
    height: 10rem;

    .logo {
      @include flex('', center, center, 0 0 10%, '');

      img {
        width: 100%;
      }
    }

    .search {
      @include flex('', center, center, 0 0 40%, '');

      &::placeholder {
        color: $grey_border;
      }
    }

    .links {
      @include flex('', center, center, 0 0 50%, '');

      ul {
        width: 100%;
        @include flex('', space-around, center, '', '');
      }
    }
  }

  .nav {
    @include flex('', center, center, '', '');
    background-color: $header_bg_color;

    ul.menuUL {
      width: 100%;
      @include flex('', center, center, '', '');
      position: relative;

      >li.menuList {
        &:not(:last-child) {
          margin-left: 1rem;
          display: flex;

          &:after {
            content: '';
            @include flex('', '', '', '', '');
            align-self: center;
            margin-left: 2rem;
            width: 4px;
            height: 4px;
            border-left: 3px solid $header_arrow_gray;
            border-bottom: 3px solid $header_arrow_gray;
            transform: rotate(-45deg) translate(0, -50%);
          }
        }

        &:hover {
          background-color: $header_bg_color_dark;

          .megamenu {
            visibility: visible;
            opacity: 1;
            z-index: 3;
          }
        }

        a.menuLink {
          display: block;
          color: $white;
          padding: 1rem 2rem;
          transition: background-color 0.3s;
        }
      }
    }
  }
}