$blue_dark: #1c3461;
$blue_light: #284b8c;

$red_dark: #b2120e;
$red_light: #ff3d3d;
$red_blend: #e11217;
$red_wrong_bg: #f56666;
$red_wrong_border: #e35f5f;
$red: #f22525;

$grey_dark: #7d7d7d;
$grey_light: #e8e8e8;
$grey_border: #e1e1e1;
$grey_button: #d0d0d0;
$gray: #e0e0e0;
$white: #ffffff;
$black: #000000;

$button_green_bg: #03b203;
$button_green_border: #03b203;
$button_second_green_bg: #029402;

$main_background: #e6e6e6;

$header_bg_color: $grey_dark;
$header_bg_color_dark: #464646;
$header_arrow_gray: #626262;

$font_color: $grey_dark;
$font_color_gray_light: #9f9f9f;;

$border_radius: 0.3rem;
$rem_size: 62.5%;
$max_width_value: 120rem;
