$white: #ffffff;
$black: #000000;

$red: #ed1c24;
$readmore-color: #ec5a5f;
$secondary-red: #d10008;
$gray_dark: #5f5f5f;
$border-color: #e8e8e8;
$box-shadow: #f5f5f5;
$title-shadow: #ececec;

$footer_bg: #2c2b2b;
$footer_text: #7e7e7e;
$map-border: #3c3b3b;

$table_header: #231f20;
$sea_lake_color: #6caed8;
$tabel_a_boxShadow: #ececec;

$golden-package: #ffd200;
$golden-light: #fff8d6;
$silver-package: #bcbcbc;
$silver-light: #f4f4f4;

$font_color: $gray_dark;
$font_color_gray_light: #9f9f9f;

$border_radius: 1rem;
$rem_size: 62.5%;
$max_width_value: 120rem;