.categoriesCont {
  @include flex('', center, '', '', wrap);
  .items {
    @include flex('', center, center, 1 0 30%, '');
    height: 25rem;
    background-color: $red;
    margin-bottom: 1rem;
    color: $white;
    font-size: 3rem;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    &:not(:nth-child(3n)){
      margin-right: 1rem;
    }
  }
}