.head {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: $red;
  text-align: left;
  width: 100%;
  color: $white;
  font-size: 5rem;
  font-weight: bold;
  padding: 6rem 0;
}