.searchBox {
  @include flex('', center, center, '', '');
  width: 100%;
  height: 20rem;
  top: -30rem;
  position: fixed;
  transition: .4s;
  @include responsive(phone, '') {
    @include flex(column, '', '', 0 0 100%, '');
  }
  &.active {
    z-index: 3;
    top: 0;
  }
  .search {
    @include flex('', '', '', 0 0 70%, '');
    margin-right: 2rem;
    @include responsive(phone, '') {
      @include flex('', '', center, 0 0 60%, '');
      margin-right: 0rem;
      padding: 1rem;
    }
    input {
      width: 100%;
      height: 10rem;
      font-size: 5rem;
      border: none;
      box-shadow: 0px 2rem 3rem 0px $border-color;
      border-radius: 3rem;
      padding: 2rem;
      color: $gray_dark;
      outline: none;
      @include responsive(tablet, '') {
        height: 10rem;
        font-size: 4rem;
      }
      @include responsive(phone, '') {
        height: 7rem;
        font-size: 3rem;
      }
      
    }
  }
  .close {
    @include flex('', center, center, '', '');
    font-size: 5rem;
    border: 2px solid $red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: $red;
      width: 90%;
      height: 2px;
      top: 50%;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}
