.zoomContainer {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 400px !important;
    width: 400px !important;


    .zoomLens {
        background-color: $white;
        background-size: cover;
        transform: scale(2);
        position: absolute;

    }

}