/* abstratcs */
/* flexbox values 

  @params ( flex-direction , justify-content . align-items , flex , flex-wrap )

*/
/* responsive mixin 

  @params (breakpoint , screen-size)

  breakpoint => {
    0 - 600 = phone
    600 - 900 = tablet
    900 - 1600 = desktop
    1600 - infinity = bigscreen
  }

*/
/* base */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  direction: rtl; }

ul,
ol {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

html,
body,
div,
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'iransans';
  src: url("./../../fonts/iransans.eot");
  /* IE9 Compat Modes */
  src: url("./../../fonts/iransans.eot?#iefix") format("embedded-opentype"), url("./../../fonts/iransans.woff2") format("woff2"), url("./../../fonts/iransans.woff") format("woff"), url("./../../fonts/iransans.ttf") format("truetype"), url("./../../fonts/iransans.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gibson';
  src: url("./../../fonts/Gibson-BoldItalic.ttf"); }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1930px) {
    html {
      font-size: 106.25%; } }
  @media only screen and (min-width: 1500px) and (max-width: 1920px) {
    html {
      font-size: 81.25%; } }

html,
body,
* {
  font-family: 'iransans'; }

.gibson {
  font-family: 'gibson' !important; }

/* layout */
.container {
  font-size: 1.5rem; }

.row {
  min-width: 120rem;
  max-width: 120rem;
  margin: 0 auto; }

/* components */
.prodcutCard {
  display: flex;
  justify-content: center;
  align-items: center; }

/* pages */
