/* abstratcs */
/* flexbox values 

  @params ( flex-direction , justify-content . align-items , flex , flex-wrap )

*/
/* responsive mixin 

  @params (breakpoint , screen-size)

  breakpoint => {
    0 - 600 = phone
    600 - 900 = tablet
    900 - 1600 = desktop
    1600 - infinity = bigscreen
  }

*/
/* base */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  direction: rtl; }

ul,
ol {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

html,
body,
div,
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'iransans';
  src: url("./../../fonts/iransans.eot");
  /* IE9 Compat Modes */
  src: url("./../../fonts/iransans.eot?#iefix") format("embedded-opentype"), url("./../../fonts/iransans.woff2") format("woff2"), url("./../../fonts/iransans.woff") format("woff"), url("./../../fonts/iransans.ttf") format("truetype"), url("./../../fonts/iransans.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gibson';
  src: url("./../../fonts/Gibson-BoldItalic.ttf"); }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1930px) {
    html {
      font-size: 106.25%; } }
  @media only screen and (min-width: 1500px) and (max-width: 1920px) {
    html {
      font-size: 81.25%; } }

html,
body,
* {
  font-family: 'iransans'; }

.gibson {
  font-family: 'gibson' !important; }

/* layout */
.container {
  font-size: 1.5rem; }

.row {
  min-width: 120rem;
  max-width: 120rem;
  margin: 0 auto; }

/* components */
.productCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 33.333%;
  position: relative; }
  .productCard:not(:last-child) {
    margin-left: 2rem; }
  .productCard:before {
    content: '';
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    z-index: -1;
    background-color: #ed1c24;
    position: absolute; }
  .productCard img {
    width: 18rem;
    z-index: 1;
    left: -8rem; }
  .productCard .description {
    color: #ffffff;
    padding: 0 3rem;
    text-align: left; }
    .productCard .description .title {
      font-size: 2rem; }
    .productCard .description .content {
      padding: 4rem 0;
      font-size: 1.6rem; }
      .productCard .description .content a {
        color: #ec5a5f; }

/* pages */
.productCont .head {
  background-image: url("./../../images/pages-head-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #ed1c24;
  text-align: left;
  width: 100%;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 8rem; }

.productCont .row .contents {
  padding: 5rem 0; }
  .productCont .row .contents .productList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
    .productCont .row .contents .productList .productCards {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      margin: 8rem 0;
      width: 100%; }

.descripCont .head {
  background-image: url("./../../images/pages-head-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #ed1c24;
  text-align: left;
  width: 100%;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 8rem; }

.descripCont .description {
  margin: 5rem auto;
  padding: 8rem;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  .descripCont .description .images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%; }
    .descripCont .description .images .main-img img {
      width: 23rem; }
    .descripCont .description .images .sub-img {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 55%;
      margin: 2rem 0; }
      .descripCont .description .images .sub-img img {
        width: 5rem; }
  .descripCont .description .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 60%; }
    .descripCont .description .content .title {
      font-size: 2rem;
      color: #ed1c24; }
    .descripCont .description .content .details {
      color: #9f9f9f;
      font-size: 1.2rem;
      text-align: left;
      margin: 2rem 0; }
    .descripCont .description .content .describe {
      text-align: left;
      margin-top: 5rem;
      color: #9f9f9f;
      font-size: 1.2rem; }
